.content {
  flex: 1;
  padding: 30px;
  background-color: #1D2125;
  min-height: 100vh;
}

.content h1 {
  margin-bottom: 10px;
  color: #ffffff;
}

.content p {
  color: #bfd7fe;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 10px;
  color: #222;
}

.card p {
  margin: 0;
  color: #555;
}